<div id="toggle" class="navicon">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div id="navigation" class="navigation">
  <nav class="overlay-menu">
    <ul>
      <li>
        <a href="#personal" class="menu"><i class="fa fa-user"></i>&nbsp;Personal</a>
      </li>
      <li>
        <a href="#business" class="menu"><i class="fa fa-briefcase"></i>&nbsp;Business&nbsp;</a>
      </li>
      <li>
        <a href="#contact" class="menu"><i class="fa fa-envelope"></i>&nbsp;Contact&nbsp;&nbsp;</a>
      </li>
    </ul>
  </nav>
</div>
<div id="site-wrapper"  class="fade-in intro">
  <!-- HEADER /////////////////////////////////////////////////////////////////////////// -->
  <header id="welcome" class="parent module">
    <div class="scroll-down"><i class="bounce fa fa-angle-double-down fa-2x"></i></div>
    <div class="fade child">
      <div class="container-small">
        <!-- Header titles -->
        <div class="text-mask">
          <h1 class="header-title">Jonas Meissner</h1>
        </div>
        <h2 class="header-subtitle">Welcome to my website</h2>
      </div>
    </div>
  </header>
  <!-- END HEADER /////////////////////////////////////////////////////////////////////////// -->

  <!-- PERSONAL SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="personal" class="module">
    <div class="container-small">
      <h2 class="section-title">Who Am I?</h2>
      <h3 class="section-subtitle">I can be somebody!</h3>
      <div class="corners">
        <img src="images/jm.jpg" alt="This is a picture of me" />
      </div>
      <div class="story">
        <p>How delightful that you find yourself here checking out my website!</p>
        <p>But where are my manners? Time for an introduction.</p>
        <p>Good day, my name is Jonas. I currently live in Stockholm, Sweden. Let's start with a little background, shall we?</p>
        <p>I was born in 1983 and I grew up in a small town called <a href="https://goo.gl/maps/jnKeUABhfZ42" target="_blank">Ludvika</a>. It was nice but my teenage self might disagree. Early on music became one of my biggest interests so there was no surprise when I spent most of my summers during my late teens going to swedish festival and concerts. Fast forward a few years and I'm working as a teacher realizing that this is not what I wanted. By this time in my life I knew that the town I was raised in was getting a little too small for me.</p>
        <p>Some friends of mine offered me some space in their living room so off I went, to the capital of Sweden - Stockholm! After a little lollygagging I started studying programming and it felt good. It was so nerdy and I liked it. And that is where I found my passion for web development and technology.</p>
        <p>So here where are. I'm now over 30 years old, I'm happily married with a wonderful person and I have <a href="https://twitter.com/daizuko_/status/604450779794173952" target="_blank">the cutest dog</a> in the world!
      </div>
    </div>
  </section>
  <!-- END PERSONAL SECTION /////////////////////////////////////////////////////////////////////////// -->

  <!-- BUSINESS SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="business" class="module">
    <div class="container-big">
      <h2 class="section-title">What can I do?</h2>
      <h3 class="section-subtitle">I can do stuff!</h3>
      <p>Certified Project Manager with a background as Front-end developer</p>
      <div class="works">
        <!-- Skill 01 -->
        <article>
        </article>
        <!-- Skill 02 -->
        <article>
        </article>
        <!-- Skill 03 -->
        <article>
        </article>
      </div>
      <div id="connect" class="social">
        <!-- Twitter -->
        <a href="https://twitter.com/daizuko_" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/jonasmeissner" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Skype -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Github -->
        <a href="https://github.com/daizuko" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <!--<a href="documents/resume.pdf" class="button"><i class="fa fa-download"></i> My Resume</a>-->
      <a href="#" class="button"><i class="fa fa-download"></i> My Resume</a>
    </div>
  </section>
  <!-- END SKILLS SECTION /////////////////////////////////////////////////////////////////////////// -->

  <!-- CONTACT SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="contact" class="module">
    <div class="container-small">
      <h2 class="section-title">Say Hello</h2>
      <h3 class="section-subtitle">I'm on the internet!</h3>
      <!-- Social icons -->
      <div class="social">
        <!-- Twitch -->
        <a href="http://www.twitch.tv/daizuko" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitch fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Xbox Live -->
        <a href="https://account.xbox.com/Profile?gamerTag=Daizuko" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Spotify -->
        <a href="https://play.spotify.com/user/jnsnlssn" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- LastFM -->
        <a href="http://www.last.fm/user/jnsnlssn" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lastfm fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- DeviantArt -->
        <a href="http://jnsnlssn.deviantart.com/" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-deviantart fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Pinterest -->
        <a href="https://pinterest.com/daizuko/" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Dribbble -->
        <a href="https://dribbble.com/Daizuko" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="info">
        <!-- Address -->
        <div>
          <i class="fa fa-map-marker"></i>
          <h3>Address</h3>
          <p>Fallskärmsgatan 9, 128 34 Skarpnäck</p>
        </div>
        <!-- Phone -->
        <div>
          <i class="fa fa-mobile"></i>
          <h3>Phone</h3>
          <p>+4673 65 65 302</p>
        </div>
        <!-- Email -->
        <div>
          <i class="fa fa-envelope-o"></i>
          <h3>Email</h3>
          <p>contact.jonasmeissner@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTACT SECTION /////////////////////////////////////////////////////////////////////////// -->

  <!-- FOOTER /////////////////////////////////////////////////////////////////////////// -->
  <footer>
    <div class="container-footer">
      <div class="left">
        <p><i class="fa fa-copyright"></i> 2016 <span>Jonas Meissner</span> | Made with <i class="fa fa-html5"></i> <i class="fa fa-css3"></i></p>
      </div>
      <div class="right">
        <a href="#welcome">Return to Top <i class="fa fa-long-arrow-up"></i></a>
      </div>
    </div>
  </footer>
  <!-- END FOOTER /////////////////////////////////////////////////////////////////////////// -->
</div>
