<div id="toggle" class="navicon">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
<div id="navigation" class="navigation">
  <nav class="overlay-menu">
    <ul>
      <li>
        <a href="#personal" class="menu"><i class="fa fa-user"></i>&nbsp;Personal</a>
      </li>
      <li>
        <a href="#business" class="menu"><i class="fa fa-briefcase"></i>&nbsp;Business&nbsp;</a>
      </li>
      <li>
        <a href="#contact" class="menu"><i class="fa fa-envelope"></i>&nbsp;Contact&nbsp;&nbsp;</a>
      </li>
    </ul>
  </nav>
</div>
<div id="site-wrapper"  class="fade-in intro">
  <!-- HEADER /////////////////////////////////////////////////////////////////////////// -->
  <header id="welcome" class="parent module parallax parallax-1">
    <div class="scroll-down"><i class="bounce fa fa-angle-double-down fa-2x"></i></div>
    <div class="fade child">
      <div class="container-small">
        <!-- Header titles -->
        <div class="text-mask">
          <h1 class="header-title">Jonas Meissner</h1>
        </div>
        <h2 class="header-subtitle">Welcome to my website</h2>
      </div>
    </div>
  </header>
  <!-- END HEADER /////////////////////////////////////////////////////////////////////////// -->

  <!-- PERSONAL SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="personal" class="module">
    <div class="container-small">
      <h2 class="section-title">Who Am I?</h2>
      <h3 class="section-subtitle">Certified Project Manager with a background as Front-end developer</h3>
      <div class="corners">
        <img src="images/jm1.jpg" alt="This is a picture of me" />
      </div>
      <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
    </div>
  </section>
  <!-- END PERSONAL SECTION /////////////////////////////////////////////////////////////////////////// -->

  <!-- BUSINESS SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="business" class="module">
    <div class="container-big">
      <h2 class="section-title">Skills</h2>
      <h3 class="section-subtitle">I can do stuff!</h3>
      <div class="works">
        <!-- Skill 01 -->
        <article>
        </article>
        <!-- Skill 02 -->
        <article>
        </article>
        <!-- Skill 03 -->
        <article>
        </article>
      </div>
      <div id="connect" class="social">
        <!-- Twitter -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- LinkedIn -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Google+ -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Skype -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-skype fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Whatsapp -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Github -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <!--<a href="documents/resume.pdf" class="button"><i class="fa fa-download"></i> My Resume</a>-->
      <a href="#" class="button"><i class="fa fa-download"></i> My Resume</a>
    </div>
  </section>
  <!-- END SKILLS SECTION /////////////////////////////////////////////////////////////////////////// -->

  <!-- CONTACT SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="contact" class="module">
    <div class="container-small">
      <h2 class="section-title">Say Hello</h2>
      <h3 class="section-subtitle">I'm on the internet!</h3>
      <!-- Social icons -->
      <div class="social">
        <!-- Twitch -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitch fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Youtube -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Xbox Live -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Steam -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-steam fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Spotify -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- LastFM -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lastfm fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Instagram -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- DeviantArt -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-deviantart fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Pinterest -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Behance -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-behance fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Dribbble -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- Reddit -->
        <a href="#" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-reddit-alien fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <div class="info">
        <!-- Address -->
        <div>
          <i class="fa fa-map-marker"></i>
          <h3>Address</h3>
          <p>Fallskärmsgatan 9, 128 34 Skarpnäck</p>
        </div>
        <!-- Phone -->
        <div>
          <i class="fa fa-mobile"></i>
          <h3>Phone</h3>
          <p>+4673 65 65 302</p>
        </div>
        <!-- Email -->
        <div>
          <i class="fa fa-envelope-o"></i>
          <h3>Email</h3>
          <p>contact.jonasmeissner@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTACT SECTION /////////////////////////////////////////////////////////////////////////// -->

  <!-- FOOTER /////////////////////////////////////////////////////////////////////////// -->
  <footer>
    <div class="container-footer">
      <div class="left">
        <p><i class="fa fa-copyright"></i> 2016 <span>Jonas Meissner</span> | Made with <i class="fa fa-html5"></i> <i class="fa fa-css3"></i></p>
      </div>
      <div class="right">
        <a href="#welcome">Return to Top <i class="fa fa-long-arrow-up"></i></a>
      </div>
    </div>
  </footer>
  <!-- END FOOTER /////////////////////////////////////////////////////////////////////////// -->
</div>
